<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.indoortracking">

    <uses-sdk android:minSdkVersion="24" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" /> <!-- From Android 12 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/situm_position_icon_arrow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndoorTracking"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:node="merge"
        tools:targetApi="31">

        <meta-data
            android:name="es.situm.sdk.API_USER"
            android:value="nick@zeniamobile.com" />
        <meta-data
            android:name="es.situm.sdk.API_KEY"
            android:value="ef34e0a493c5eb6345a3513a7cb03cf6fb418ee6d10d865f3f7e3b7c050e3b57" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCfmwE5xNAlTWcrLVQFA8Yq6via4l9eVvU" />

        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="AIzaSyCfmwE5xNAlTWcrLVQFA8Yq6via4l9eVvU" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />
        <activity
            android:name=".settingsActivity"
            android:exported="false" />


        <activity
            android:name=".ARActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"></activity>


        <activity
            android:name=".mapActivity"

            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>